*, *:before, *:after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

:root {
  font-size: 16px;
  --primary:rgb(67 38 128);
  --secondary: rgb(150 101 255);
  --dark: #63645F;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  background: rgb(244 239 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  display: flex;
  width: 100%;
  justify-content: baseline;
  padding: 10px 120px;
  font-size: 7rem;
  font-family: inconsolataregular;
  color: var(--primary);
  font-weight: bold;
  text-shadow: 2px 2px var(--secondary);
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--dark);
}

body::-webkit-scrollbar-thumb {
  background: var(--primary);
}

.cards-container {
  padding: 20px 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 60px;
  row-gap: 50px;
  margin-bottom: 80px;
}

.card {
  padding: 1.5rem;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 8px;
  background: URL("./images/pattern.webp");
}

.card-title {
  font-family: inconsolataregular;
  color: rgba(25,4,69,0.7);
  font-weight: bold;
  font-size: 1.4rem;
  text-align: left;
}

.card-image {
  width: 100%;
  height: 11vw;
  margin-top: 1rem;
  border-radius: 8px;
}

.card-button {
  width: 100%;
  background-color: rgb(106 61 202);
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
  height: 3rem;
  border: 0;
  border-radius: 10px;
  box-shadow: 0px 3px var(--primary);
  margin-top: 1rem;
  border-bottom: solid 1px var(--secondary);
  transition: all 0.1s;
}

.card-button:active {
  box-shadow: 0px 0px;
  border-bottom: 0px;
  transform: translateY(4px);
}

.messageContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.messageContainer img {
  border-radius: 8px;
}

.message {
  display: flex;
  width: 100%;
  justify-content: baseline;
  max-width: 400px;
  font-size: 2rem;
  font-family: inconsolataregular;
  color: var(--primary);
  font-weight: bold;
  text-shadow: 2px 2px var(--secondary);
  margin-left: 2rem;
}